body {
    padding: 5vh;
    background-color: white;
    font-family: Century Gothic, sans-serif;
}

#title {
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

.story {
    padding: 20px 0px 20px 0px;
}

#story-factors, #story-factors2, #story-factors3{
    padding: 0px 0px 0px 0px;
}

.graph {
    padding: 30px 0px 30px 0px;
    text-align: center;
}

.footer {
    color: white;
    font-size: small;
    text-align: center;
}

.source {
    color: black;
    opacity: 0.8;
    font-style: italic;
    font-size: small;
    text-align: left;
}

.tooltip {
    position: absolute;
    text-align: center;
    font-family: Century Gothic, sans-serif;
    font-size: 12px;

    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
}

.tooltip h3{
    font-weight: bold;
}
.tooltip h4 {
    font-family: Century Gothic, sans-serif;
    font-size: 14px;
}

.button, .button2{
    float: left;
    border: black;
    padding: 10px 10px;
    width: 10%;
    align-content: center;
    background-color: lightgray;
    font-family: Century Gothic, sans-serif;
    font-size: 12px;

}

/*.button:hover {*/
/*    background-color: #4CAF50; !* Green *!*/
/*    color: white;*/
/*}*/


/*.button:hover {*/
/*    background-color: #4CAF50; !* Green *!*/
/*    color: white;*/
/*}*/

#funding-geo {
    width: 40vw;
    height: 30vw;
}


#funding-geo-2 {
    width: 40vw;
    height: 30vw;
}


#barDiv {
    width: 40vw;
    height: 25vw;
}

#clock {
    max-width: 100%;
    padding: 10px 0px 0px 0px;
    margin: auto;
    display: block;
}

.brick-title {
    font-size: xx-large;
    color: black;
    font-weight: bold;
}

.brick-subtitle {
    font-weight: bold;
}

.legend {
    font-size: xx-small;
}

.legend_rect {
    border: black 2px;
}

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
    /*stroke-width: 20;*/
}

.link:hover {
    stroke-opacity: .5;
}

#factors, #factors2, #factors3 {
    height: 60vh;

}

#col2{
    display: none;
    text-align: center;
    height: 60vh;
}
#col2-2, #col2-3, #col2-4, #col2-5{
    text-align: center;
    height: 60vh;
}

.sankey-title{
    font-weight: bold;

}

* {
    padding: 0;
    margin: 0px;
    font-family: 'Josefin Sans', sans-serif;
}
p {
    /*color: #fff;*/
    font-size: 2.5vh;
    font-family: Century Gothic, sans-serif;
}

.story-title{
    font-family: 'Callie Chalk Font', sans-serif;
    color: #fff;
    font-size: 4vw;

}


.divider-text{
    color: white;
    font-size: 4vh;
    text-align: center;
}

.geo-text{
    font-size: 12px;
    font-family: Century Gothic, sans-serif;

}

span{
    font-family: Century Gothic, sans-serif;

}

#title-small{
    font-size: 2.5vw;
}

th, td{
    font-family: Century Gothic, sans-serif;
}

.fp-enabled .modal{
    position:fixed !important;
}

.container{
    padding:0px;
}